<!--{% extends 'busapp/base.html' %}-->
<!--{% block content %}-->
<!--<h1 align="center">  welcome {{user}} </h1>-->

<!--<div class="container">-->
<!--          <div class="row">-->
<!--                <div class="col-sm-6 mx-auto" style="margin-top: 30px">-->
<!--                    <form action="{% url 'driver1' %}" method="post">-->
<!--                        {% csrf_token %}-->
<!--                        {{user}} successfully Login!-->



<!--                        <div class="pull-left">-->

<!--                            <button type="Submit" class="btn btn-info float-left">view Driver Details</button>-->
<!--                        </div>-->

<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 mx-auto" style="margin-top: 170px">-->
<!--                <form action="{% url 'signout' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--&lt;!&ndash;                    {{user}} successfully login!&ndash;&gt;-->



<!--                    <div class="pull-right">-->
<!--                        <button type="Submit" class="btn btn-danger float-right">Sign out</button>-->
<!--                    </div>-->

<!--                </form>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--{% endblock %}-->