
<!--<html>-->
<!--{% extends 'busapp/base1.html' %}-->
<!--{% block content %}-->
<!--<h1>Consumers Details</h1>-->

<!--<table border="1" width="850" height="200" bgcolor="lightblue">-->
<!--<tr bgcolor="">-->
<!--<th>Name</th>-->
<!--<th>Age</th>-->
<!--<th>Address</th>-->
<!--<th>Phone number</th>-->
<!--<th>Source</th>-->
<!--<th>Destination</th>-->
<!--<th>Date</th>-->
<!--<th>Time</th>-->
<!--    </tr>-->

<!--<tr>-->
<!--     {% if info %}-->
<!--     {% for st in info %}-->

<!--     <td>{{st.name}}</td>-->
<!--     <td>{{st.age}}</td>-->
<!--     <td>{{st.address}}</td>-->
<!--     <td>{{st.phone}}</td>-->
<!--     <td>{{st.start}}</td>-->
<!--     <td>{{st.end}}</td>-->
<!--     <td>{{st.date}}</td>-->
<!--     <td>{{st.time}}</td>-->

<!--    </tr>-->

<!--{% endfor %}-->
<!--{% endif %}-->
<!--</table>-->
<!--<br>-->
<!--<br>-->

<!--{% endblock%}-->


<!--</html>-->
