<!--<div class="container">-->
<!--    <center><h2 style="margin-top: 70px;color:black">Welcome to Bus Reservation</h2></center>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 mx-auto" style="margin-top: 70px">-->
<!--                <h2>Log in</h2>-->

<!--                {% for message in messages %}-->

<!--                <div class="alert alert-danger">-->
<!--                    <a class="close" href="#" data-dismiss="alert">×</a>-->
<!--                       {{ message }}-->
<!--                </div>-->

<!--                {% endfor %}-->

<!--                <form action="{% url 'signin' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--                    <div class="form-group row">-->
<!--                        <label for="example-email-input" class="col-2 col-form-label">Username:</label>-->
<!--                        <div class="col-10">-->
<!--                            <input name='name' class="form-control" type="text" id="example-email-input">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="form-group row">-->
<!--                         <label for="example-email-input" class="col-2 col-form-label">Password:</label>-->
<!--                        <div class="col-10">-->
<!--                            <script type="text/javascript">-->
<!--                    function reveal()-->
<!--                    {-->
<!--                    if(document.getElementById('box').checked)-->
<!--                       {document.getElementById("pw").type='text';}-->
<!--                    else-->
<!--                    document.getElementById("pw").type='password';-->
<!--                    }-->
<!--                    </script>-->
<!--                            <input type="password" id="pw" class="form-control">-->

<!--                            <input  type="checkbox" id="box" onclick="reveal()" >-->
<!--                             <label> show password </label>-->
<!--                    </div>-->
<!--                    </div>-->
<!--                         <div class="pull-right">-->
<!--                            <button type="Submit" class="btn btn-info float-right">Sign in</button>-->
<!--                         </div>-->


<!--                </form>-->

<!--				<div class="mt-4">-->
<!--					<div class="d-flex justify-content-center links">-->
<!--						Don't have an account? <a href="{% url 'signup' %}" class="ml-2">Sign Up</a>-->
<!--					</div>-->

<!--            </div>-->
<!--        </div>-->
<!--&lt;!&ndash;          <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-sm-6 mx-auto" style="margin-top: 170px">&ndash;&gt;-->
<!--&lt;!&ndash;                <form action="{% url 'signup' %}" method="post">&ndash;&gt;-->
<!--&lt;!&ndash;                    {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    {{user}} successfully login!&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="Submit" class="btn btn-danger float-right">Sign up</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                </form>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->



<!--    </div>-->

<!--{% endblock %}-->






<!--    div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 mx-auto" style="margin-top: 70px">-->
<!--                <form action="{% url 'signup' %}" method="post">-->
<!--                    <h2>Sign up!</h2>-->
<!--                    {% csrf_token %}-->
<!--                    <div class="form-group row">-->
<!--                        <label for="example-email-input" class="col-2 col-form-label">Email:</label>-->
<!--                        <div class="col-10">-->
<!--                            <input name='email' class="form-control" type="email" id="example-email-input" required>-->
<!--                        </div>-->
<!--                        {{form.email}}-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label for="example-email-input" class="col-2 col-form-label">Username:</label>-->
<!--                        <div class="col-10">-->
<!--                            <input name='name' class="form-control" type="text" required>-->
<!--                        </div>-->
<!--                        {{form.username}}-->
<!--                    </div>-->
<!--                    <div class="form-group row">-->
<!--                        <label for="example-email-input" class="col-2 col-form-label">Password:</label>-->
<!--                        <div class="col-10">-->
<!--                            <script type="text/javascript">-->
<!--                    function reveal()-->
<!--                    {-->
<!--                    if(document.getElementById('box').checked)-->
<!--                       {document.getElementById("pw").type='text';}-->
<!--                    else-->
<!--                    document.getElementById("pw").type='password';-->
<!--                    }-->
<!--                    </script>-->
<!--                              <input type="password" id="pw" class="form-control">-->

<!--                    <input  type="checkbox" id="box" onclick="reveal()" >-->
<!--                      <label> show password </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                     <div class="form-group row">-->
<!--                        <label for="example-email-input" class="col-2 col-form-label">usertype:</label>-->
<!--                           <div class="col-10">-->
<!--                                    <select name="select" id="usertype" class="form-control">-->

<!--                                    <option value="Admin " selected>select account type</option>-->
<!--                                    <option value="Admin">Admin</option>-->
<!--                                <option value="Driver">Driver</option>-->
<!--                                <option value="Customer">Customer</option>-->
<!--                              </select>-->
<!--                        <div class="col-10">-->
<!--&lt;!&ndash;                            <input name='usertype' class="form-control" type="text" required>&ndash;&gt;-->
<!--                        </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="pull-right">-->
<!--                        <button type="submit" class="btn btn-info float-right">Sign up</button>-->
<!--                    </div>-->

<!--                </form>-->
<!--                <div class="mt-4">-->
<!--					<div class="d-flex justify-content-center links">-->
<!--						Already have an account? <a href="{% url 'signin' %}" class="ml-2">Login</a>-->
<!--					</div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--{% endblock %}-->