<!--{% extends 'busapp/base1.html' %}-->
<!--{% block content %}-->

<!--<h1 align="center">  welcome {{user}} </h1> <br><br><br>-->

<!--<div class="container">-->
<!--          <div class="row">-->
<!--                <div class="col-sm-6 mx-auto" style="margin-top: 30px">-->
<!--                    <form action="{% url alloweduser %}" method="post">-->
<!--                        {% csrf_token %}-->




<!--                        <div class="pull-right" style="text-align:center">-->

<!--                            <button type="Submit" class="btn btn-info float" style="margin-top:10%">view Details</button>-->
<!--                        </div>-->

<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6 mx-auto" style="margin-top: 170px">-->
<!--                <form action="{% url 'signout' %}" method="post">-->
<!--                    {% csrf_token %}-->
<!--&lt;!&ndash;                    {{user}} successfully login!&ndash;&gt;-->



<!--&lt;!&ndash;                    <div class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;                        <button type="Submit" class="btn btn-danger float-right">Sign out</button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->

<!--                </form>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--{% endblock %}-->