<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Consumer Details</h1>

<form method="post">

    Name:<input type="text" name="name" placeholder="Name"><br>
    Age:<input type="number" name="age" placeholder="Age"><br>
    Address:<input type="text" name="address" placeholder="Address"><br>
    phone_no:<input type="number" name="phone" placeholder="Phone"><br>
    Start:<input type="text" name="start" placeholder="Source"><br>
    End:<input type="text" name="end" placeholder="Destination"><br>
    Date:<input type="date" name="date" placeholder="Date"><br>
    Time:<input type="time" name="time" placeholder="Time"><br>
    <br>
    {% csrf_token %}
    <input type ="submit" name ="Add">
    </br>

</form>


</body>
</html>